<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movieflix</title>
</head>

<body>
    <form action="/myForm" method="post">
        <textarea name="movieStr" placeholder="Movies seperated by comma"></textarea>
        <input type="submit" value="Send" />
    </form>
</body>

</html>